{% extends "baseLogin.html" %}
{% block title %}singe note{% endblock %}
{% block content%}

<h1 class="text-center">Category {{newUserCategory}}</h1>
<h2 class="text-center">Subject: {{oneNote.label}}</h2>
{% if oneNote.picture %}
<img src="/static/{{oneNote.picture}}" class="rounded mx-auto d-block h-25" alt="Responsive image">
{% endif %}

<div class="form-group container">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{oneNote.text}}</textarea>
</div>

<div class="container bg-light">
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-link text-dark" data-toggle="modal" data-target="#myModal1">
            Edit note
        </button>
    </div>
</div>


<!-- Modal -->
<form action="/notes/edit/{{oneNote.id}}" method="post" enctype="multipart/form-data">
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Edit note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <h5>Select label for your note</h5>
                    <input type="text" class="form-control" placeholder="..." name="label" value="{{oneNote.label}}">
                </div>
                <div class="modal-body">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment" name="text">{{oneNote.text}}</textarea>
                </div>
                {% if oneNote.picture %}
                <form action="/notes/delete/picture/{{oneNote.id}}" method="post">
                    <div class="container">
                        <button class="btn btn-primary">Delete the picture</button>
                    </div>
                </form>
                {% endif %}

                {% if not oneNote.picture %}
                <form action="">
                    <div class="modal-body">
                        <label class="form-label" for="customFile" name="file">Add your file</label>
                        <input type="file" class="form-control" id="customFile" name="file" />
                    </div>
                </form>


                {% endif %}

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form action="/notes/delete/{{oneNote.id}}" method="post">
    <div class="container bg-light">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn">Delete note</button>
        </div>
    </div>
</form>
{% endblock %}